<div class="card mt-5 border-0 shadow-sm">
  <div class="card-body">
    <form class="d-flex">
      <input
        type="text"
        name=""
        id="search"
        class="form-control shadow-none border-0"
        placeholder="Enter Location"
      />
      <button class="border-0 bg-transparent text-secondary">Search</button>
    </form>
  </div>
</div>
